body {
	margin: 0;
	background-color: #eee;
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
}

#app {
	margin: 40px auto;
	box-sizing: border-box;
	/* width: 550px; */
	max-width: 100%;
	height: 500px;
}

.kma-table-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
}

.kma-table-head {
	position: relative;
	padding-right: 17px;
}

.kma-table-body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	/* overflow-y: auto; */
	background: #fff;
}

.kma-table {
	position: relative;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	box-sizing: border-box;
	font-size: 12px;
	color: #333;
}

.kma-table thead {
	background: #f7f7f7;
}

.kma-table th {
	min-width: 60px;
	padding: 3px 4px;
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-weight: 500;
}

.kma-table td {
	min-width: 60px;
	padding: 3px 4px;
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-weight: 400;
}

.kma-table tr:last-child td {
	border-bottom: 0;
}

@supports (-ms-ime-align: auto) {
	.kma-table-head {
		padding-right: 16px;
	}
}
