// .kma-table-wrapper {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;
// 	border: 0;
// }

// .kma-table-iframe {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;
// 	border: 0;
// }

.kma-table-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
}

$border: 1px solid #e0e0e0;

@mixin root {
	color: #333;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@mixin cell {
	min-width: 60px;
	padding: 3px 4px;
	box-sizing: border-box;
	// border: 1px solid #e0e0e0;
	border-right: $border;
	border-bottom: $border;
}

.kma-table {
	position: relative;
	table-layout: fixed;
	// border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	font-size: 12px;
	@include root;
	th {
		@include cell;
		font-weight: 500;
		// fot translate
		-ms-transition-property: transform;
		transition-property: transform;
		-ms-transition-duration: 0.1s;
		transition-duration: 0.1s;
	}
	td {
		@include cell;
		font-weight: 400;
	}
	thead {
		background: #f7f7f7;
	}
}

// https://zetawiki.com/wiki/HTML_%ED%85%8C%EC%9D%B4%EB%B8%94_%EC%8A%A4%ED%81%AC%EB%A1%A4_%ED%8B%80_%EA%B3%A0%EC%A0%95
// https://www.jqueryscript.net/table/jQuery-Plugin-For-Sticky-Table-Cells-stickyTable-js.html
// https://www.google.com/search?sxsrf=ACYBGNRDCXzwz4qDmYDqj8FBEeaVnbECNQ%3A1569431253376&ei=1Z6LXeW6FoqWr7wPyceZgAc&q=fixed+table+header+and+left+column+jquery&oq=fixed+table+header+and+left+column+jquery&gs_l=psy-ab.3..0i30.84840.98071..98289...0.0..0.161.1745.2j14......0....1..gws-wiz.......0i7i30j0i20i263j0j0i203j0i10i30j0i5i30j0i8i30.Qy3n9aAnOHA&ved=0ahUKEwil-eyCu-zkAhUKy4sBHcljBnAQ4dUDCAs&uact=5

// 디바운싱: 연이어 호출되는 함수들 중 마지막 함수(또는 제일 처음)만 호출하도록 하는 것
// 쓰로틀링: 마지막 함수가 호출된 후 일정 시간이 지나기 전에 다시 호출되지 않도록 하는 것

// https://developer.wacom.com/en-us/
// https://developer.wacom.com/en-us/developer-dashboard/downloads
// https://developer-docs.wacom.com/
// http://developer-demos.wacom.com/
